.home__backgroundImage{
    position: relative;
    display: flex;
    justify-content: center;
}
.searchCard{
    position: absolute;
    top: 1rem;
    background-color: white;
    height: 90px;
    flex: 0.75;
    width: 73%;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 6px #aaa;
}
.searchCard p{
    color: #d32f2f;
    font-size: 28px;
    font-weight: 700;
}